html {
  background-color: rgb(39, 38, 38);
}
body {
  align-items: center;
}
article {
  font-family: "Roboto Mono", monospace;
  color: whitesmoke;
  font-weight: normal;
  font-size: 16px;
  max-width: 1050px;
  margin: auto;
  line-height: 1.5;
}
hr {
  display: none;
}
pre {
  padding-bottom: 20px;
}
code.language-python {
  background-color: rgba(0, 0, 0, 0.37);
  font-family: "Source Code Pro", monospace;
  border-radius: 10px;
}
::-webkit-scrollbar {
  background-color: rgb(63, 61, 58);
  width: 0.7em;
  overflow: auto;
  height: 0.5em;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 253, 250, 0.308);
  border-radius: 2em;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 253, 250, 0.541);
}
h1,
h2 {
  font-weight: 600;
  font-size: 21px;
  padding-bottom: 20px;
  padding-top: 20px;
}
h3 {
  font-weight: 600;
  font-size: 16px;
  padding-top: 10px;
  font-weight: 100;
}
ul {
  list-style-type: circle;
  color: rgb(156, 233, 247);
}
a {
  text-decoration: none;
  color: lightskyblue;
}
a.icon {
  padding-left: 5px;
}

a.icon {
  font-size: 31px;
  color: rgb(51, 216, 51);
  font-family: "Source Code Pro", monospace;
  font-style: normal;
  font-weight: 1000;
}
a.icon:hover {
  font-size: 32px;
  color: rgb(252, 29, 29);
}
a.responsive-link:hover {
  font-size: 16.1px;
  color: rgb(92, 183, 240);
}
article.top {
  text-align: center;
  font-weight: 1000;
}

p,
h1,
h2,
h3 {
  padding-left: 10px;
}
@media (max-width: 500px) {
  article.intro,
  pre.code {
    font-size: 13px;
  }
  hr {
    display: block;
    margin: 30px;
  }
  h1,
  h2 {
    font-size: 17px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  h3 {
    font-size: 13px;
    padding-top: 10px;
  }
  a.icon {
    font-size: 23px;
  }
  a.icon:hover {
    font-size: 27px;
  }
  a.responsive-link:hover {
    font-size: 14px;
    color: rgb(92, 183, 240);
  }
}
