html {
  background-color: rgb(39, 38, 38);
  scroll-behavior: smooth;
}
body {
  align-items: center;
}
article,
p.social {
  font-family: "Roboto Mono", monospace;
  color: whitesmoke;
  font-weight: normal;
  font-size: 18px;
  max-width: 1050px;
  margin: auto;
  line-height: 1.5;
}
p.social {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.336);
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 20px;
  padding-left: 10px;
  max-width: 1050px;
}
hr {
  display: none;
}
pre {
  padding-bottom: 20px;
}
code.language-python {
  background-color: rgba(0, 0, 0, 0.37);
  font-family: "Source Code Pro", monospace;
  border-radius: 10px;
}
::-webkit-scrollbar {
  background-color: rgb(63, 61, 58);
  width: 0.7em;
  overflow: auto;
  height: 0.5em;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 253, 250, 0.308);
  border-radius: 2em;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 253, 250, 0.541);
}
h1,
h2 {
  font-weight: 600;
  font-size: 23px;
  padding-bottom: 20px;
  padding-top: 20px;
}
h3 {
  font-weight: 600;
  font-size: 19px;
  padding-top: 10px;
  font-weight: 700;
}
ul {
  list-style-type: circle;
  color: rgb(156, 233, 247);
}
li {
  padding-bottom: 7px;
}
a {
  text-decoration: none;
  color: lightskyblue;
}
a.icon {
  padding-left: 5px;
}

a.icon {
  font-size: 50px;
  color: rgb(51, 216, 51);
  font-family: "Allison", cursive;
  font-style: normal;
  font-weight: 1000;
}
a.icon:hover {
  font-size: 51px;
  color: rgb(252, 29, 29);
}
a.responsive-link:hover {
  font-size: 18.1px;
  color: rgb(92, 183, 240);
}
article.top {
  text-align: center;
}

p,
h1,
h2,
h3 {
  padding-left: 10px;
}
@media (max-width: 500px) {
  hr {
    display: block;
    margin: 10px;
  }
  h1,
  h2 {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  h3 {
    padding-top: 10px;
  }
}
